@import "tailwindcss";

@theme {
  --color-primary: #1e3a8a;
  --color-secondary: #0f172a;
  --color-accent: #f59e0b;
}

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-slate-50 text-slate-800 antialiased;
}
